.root {
  @include gridable();
  grid-template-columns: 1fr;
  justify-items: center;
  font-weight: 400;
  font-family: 'Gotham Pro', Arial, sans-serif;
}

.header,
.main {
  @include gridable();
  grid-template-columns: 1fr;
  justify-items: center;

  @media screen and (min-width: $mobile) {
    max-width: $mobile;
  }
}

.header {
  &__container {
    @include flexible();
    flex-direction: column;
    align-items: center;
    background-color: $color-decorate-secondary;
  }

  &__offer {
    @include flexible();
    flex-wrap: nowrap;
    box-sizing: border-box;
    max-width: max-content;
    margin: 0;
    padding: 10px 10px;
    font-size: 13px;
    line-height: normal;
    text-align: center;
    color: $color-text-primary;
    text-transform: uppercase;
    gap: 4px;

    &::before,
    &::after {
      content: '\1F1FF \1F1E6';
      font-size: 8px;
    }
  }
  &__logo {
    @include flexible();
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: auto;
    padding: 19px 10px;
    background-color: $color-decorate-tertiary;
    gap: 10px;

    &-image {
      width: 100%;
      max-width: 281px;
      height: auto;
    }

    &-text {
      font-size: 14px;
      line-height: normal;
    }
  }
}

.offer {
  @include gridable();
  position: relative;

  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  &__label {
    @include flexible();
    position: absolute;
    flex-direction: column;
    box-sizing: border-box;
    max-width: max-content;
    height: 100%;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    color: $color-text-tertiary;
    text-transform: uppercase;
    border-radius: 6px;
    height: auto;
    bottom: 14px;

    &_timer {
      background-color: $color-decorate-secondary;
      gap: 10px;
      left: 13px;
      padding: 9px 7px;
    }

    &_price {
      background-color: $color-decorate-primary;
      gap: 8px;
      right: 13px;
      padding: 6px 7px;
    }

    &-title,
    &-count,
    &-price {
      max-width: max-content;
      margin: 0;
    }

    &-title {
      font-size: 11px;
    }

    &-count {
      font-size: 21px;
    }

    &-price {
      &_old {
        @include flexible();
        position: relative;
        justify-items: center;
        align-items: center;
        font-size: 18px;

        &::before {
          content: '';
          position: absolute;
          width: max-content;
          width: 100%;
          height: 3px;
          background-color: $color-decorate-secondary;
          border-radius: 10px;
        }
      }

      &_new {
        font-size: 22px;
      }
    }
  }
}
