@mixin flexible($width: 100%) {
  display: flex;
  width: $width;
}

@mixin gridable($width: 100%) {
  display: grid;
  width: $width;
}

@mixin unmarkedList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin defaultLink {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  opacity: 1;

  &:hover {
    opacity: 0.6;
  }
}

@mixin defaultTitle($fontSize: 19px) {
  font-weight: 700;
  font-size: $fontSize;
  margin: 0;
  text-transform: uppercase;
  line-height: normal;
  color: $color-text-primary;
}

@mixin button($padding: 0px, $bgColor: transparent) {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: $padding;
  background-color: $bgColor;
  border: none;
  transform: scale(1);
  cursor: pointer;
  transition: 0.5s;
}
