.product {
  @include flexible();
  flex-direction: column;
  box-sizing: border-box;
  padding: 17px 17px 52px 17px;
  background-color: $color-decorate-light;
  gap: 20px;

  &-rating {
    @include flexible();
    @include unmarkedList;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 12px;
    line-height: normal;

    &__item {
      &_best {
        color: $color-decorate-primary;
      }
    }

    &__link {
      text-decoration: none;
    }
  }

  &__title {
    @include defaultTitle();
  }

  &__info {
    @include flexible();
    flex-direction: column;
    font-weight: 400;
    font-size: 15px;
    line-height: normal;
    gap: 12px;
  }

  &__order {
    @include flexible();
    flex-direction: column;
    gap: 20px;

    &-props {
      @include unmarkedList;
      @include flexible();
      justify-content: space-between;
      flex-wrap: nowrap;
      font-size: 10px;
      line-height: normal;
      text-align: center;
      gap: 16px;
    }

    &-prop {
      @include flexible();
      flex-direction: column;
      gap: 4px;
    }

    &-select {
      box-sizing: border-box;
      padding: 14px 0;
      font-weight: 700;
      font-size: 22px;
      line-height: normal;
      text-align: center;
      text-transform: uppercase;
      background-color: $color-text-tertiary;
      background-image: url('../src/images/icon-arrow.png');
      background-repeat: no-repeat;
      background-position-x: calc(100% - 9px);
      background-position-y: 50%;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      appearance: none;

      &:focus {
        outline: 1px solid rgba($color-decorate-primary, 0.4);
      }
    }

    &-option {
      padding-top: 20px;
      font-size: 18px;
    }

    &-button {
      @include flexible();
      @include button(12px 20px, $color-decorate-primary);
      font-size: 30px;
      color: $color-text-tertiary;
      text-transform: uppercase;
      border-radius: 10px;
    }
  }
}
