$color-text-primary: #ffffff;
$color-text-secondary: #0a2756;
$color-text-tertiary: #007dfe;
$color-error: #fb5555;
$color-text-quaternary: rgba(0, 0, 0, 0.5);
$color-border: #c4c4c4;

$header-height: 65px;

$desktop: 1240px;
$desktop-small: 1080px;
$tablet-large: 900px;
$tablet: 768px;
$tablet-small: 640px;
$smartphone: 480px;

$mouse-device: '(hover: hover) and (pointer: fine)';
