$color-text-primary: #2c2b31;
$color-text-secondary: #111111;
$color-text-tertiary: #ffffff;
$color-decorate-primary: #37d997;
$color-decorate-secondary: #f19d2f;
$color-decorate-tertiary: #ffd1ac;
$color-decorate-dark: #000000;
$color-decorate-light: #f0f0f0;

$mobile: 390px;
$mobile-width: $mobile;

$mouse-device: '(hover: hover) and (pointer: fine)';
